body{
    background-color: #FF9500;
    margin: 0 auto;
    width: 600px;
}
.pagina-principal{
    width: 600px; 
    background-color: blue; 
}
.menu-principal{
    float: left;
    width: 600px;
    background-color: aqua;
    margin-top: 20px;
}

.menu{
    background-color: green;
    width: 150px;
    float: left;
    color: #FFF;
    text-align: center;
    font-size: 30px;
}
#corpo-pagina{
    margin-top: 10px; 
    float: left;  
    padding: 10px;
    background-color: brown;
}

h1{
    color: #FF9500;
}